html, body {
    margin: 0;
    padding: 0;
    height: 90%;
}
  
body::after {
    content: "";
    background: url('../images/HOME.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header{
    width: 100%;
    font:bold;
    display:flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.dont-have{
    font-size: 0.65em;
    margin-bottom: 5px;
    margin-left: 15px;
}

.home-register{
    margin-left: 70px;
    margin-top: 5px;
    font-size: 0.65em;
    border: 1px black solid;
    padding: 5px;
    background-color: white;
}

.home-register:hover{
    background-color: lightblue;
}

.login{
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    font-size: 1.8em;
}

#password{
    height: 2em;
    width: 235px;
    border: black solid 1px;
    border-radius: 5px;
}

#email{
    height: 2em;
    width: 235px;
    border: black solid 1px;
    border-radius: 5px;
}

#button{
    height: 2em;
    width: 5em;
    background-color: white;
    border: black 1px solid;
}

#button:hover{
    background-color: lightblue;
}

.form-check-label{
    font-size: 0.6em;
}

#forgot{
    font-size: 0.6em;
}

#forgot:hover{
    color: blue;
} 

.hr{
    border: 1px solid black;
}